Repository kmpdict/xmldtd-kt, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, documentation, dependencies

.github/labeler.yml:

workflows:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*.yml'
documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
dependencies:
  - changed-files:
    - any-glob-to-any-file: 'gradle/libs.versions.toml'

Publish with fixed versions
  .github/workflows/publish.yml
  gradle.properties
Labels: workflows

Code cleanup and scanning tweaks
  .idea/detekt.xml
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/NameProcessor.kt
  config/detekt.yml
Labels: none

More code cleanup
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/DocumentTypeDefinition.kt
Labels: none

assemble over build
  .github/workflows/pr-ci.yml
Labels: workflows

Update tests
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Code cleanup and scanning tweaks (#1)
  .github/workflows/pr-ci.yml
  .idea/detekt.xml
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/NameProcessor.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
  config/detekt.yml
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/DocumentTypeDefinition.kt
Labels: workflows

Fix URL for GH publish
  buildSrc/src/main/kotlin/com.boswelja.publish.gradle.kts
  codegen/build.gradle.kts
  deserialize/build.gradle.kts
Labels: none

Fix URL for GH publish (#2)
  buildSrc/src/main/kotlin/com.boswelja.publish.gradle.kts
  codegen/build.gradle.kts
  deserialize/build.gradle.kts
Labels: none

Refactor to reduce size and complexity of deserializer
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/ComponentExtractor.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
Labels: none

Capture comments
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/ComponentExtractor.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerUnitTest.kt
Labels: none

Test comment extraction
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/DocumentTypeDefinition.kt
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerE2ETest.kt
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerUnitTest.kt
Labels: none

Comments for attrs
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Missing comments and rule tweaks
  .gitignore
  .idea/.gitignore
  config/detekt.yml
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/DocumentTypeDefinition.kt
Labels: none

Extract comments from DTD and generate documented code (#3)
  .gitignore
  .idea/.gitignore
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
  config/detekt.yml
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/ComponentExtractor.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/DocumentTypeDefinition.kt
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerE2ETest.kt
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerUnitTest.kt
Labels: none

Don't build before publish
  .github/workflows/publish.yml
Labels: workflows

Reduce complexity
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
Labels: none

Reduce complexity of generateTypeSpecForElement (#4)
  .github/workflows/publish.yml
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
Labels: workflows

Generate XmlSerialName for attributes that have a prefix
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Generate XmlSerialName for attributes that have a prefix (#6)
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Remove unused dependencies
  gradle/libs.versions.toml
Labels: dependencies

Remove unused dependencies (#7)
  gradle/libs.versions.toml
Labels: dependencies

Enhance pluralization of zero-or-more or at-least-once entries
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/NameProcessor.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/NameProcessorTest.kt
Labels: none

Enhance pluralization of zero-or-more or at-least-once entries (#14)
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/NameProcessor.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/NameProcessorTest.kt
Labels: none

Capture entities in generated code
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Code cleanup
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
Labels: none

Capture entities in generated code (#19)
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Don't check all regex matches for each line
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
Labels: none

Don't check all regex matches for each line (#20)
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
Labels: none

Create test for multiline ATTLIST
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerE2ETest.kt
Labels: none

Initial multiline attlist implementation
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/ComponentExtractor.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
Labels: none

Fix deprecation
  buildSrc/src/main/kotlin/com.boswelja.publish.gradle.kts
Labels: none

Deserialize multi-line ATTLIST (#21)
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/ComponentExtractor.kt
  deserialize/src/commonMain/kotlin/com/boswelja/xmldtd/deserialize/Deserializer.kt
  deserialize/src/commonTest/kotlin/com/boswelja/xmldtd/deserialize/DeserializerE2ETest.kt
Labels: none

Test for Either
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Generate sealed interface for Either
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Generate code from Either elements (#24)
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Drop prefix from SerialName if it has it
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
Labels: none

Update test
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Drop prefix from SerialName if it has it (#26)
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none

Remove prefix
  codegen/src/main/kotlin/com/boswelja/xmldtd/codegen/DataClassGenerator.kt
Labels: none

Remove prefix
  codegen/src/test/kotlin/com/boswelja/xmldtd/codegen/DataClassGeneratorTest.kt
Labels: none
